---
import Word from "../components/Word.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="title">
		<Word>About Pacific Education Network</Word>
	</div>
</Layout>

<style>
	.title {
		font-size: 4rem;
		margin-top: 0.5em;
		font-family: var(--font-montserrat);
        text-align: center;
	}
</style>
