---
import Word from "../components/Word.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import testimony1 from "../assets/img/about/testimony1.jpg";
import testimony2 from "../assets/img/about/testimony2.jpg";
import testimony3 from "../assets/img/about/testimony3.jpg";
import testimony4 from "../assets/img/about/testimony4.jpg";
---

<Layout>
	<div class="title">
		<Word>About the <em>Network</em></Word>
	</div>
	<section class="main-content">
		<section class="main-content-left">
			<h1><em>Our society is:</em></h1>
			<ul>
				<li>Certified by the Government of British Columbia</li>
				<li>Non-Profit</li>
				<li>Based in Vancouver</li>
				<li>By students, for students</li>
				<li>Founded in 2024</li>
			</ul>
			<h1><em>Our Mission:</em></h1>
			<p>To empower every student by providing resources, mentorship, support, and personalized tutoring.</p>
			<h1><em>Our Vision:</em></h1>
			<p>
				We envision a future where each aspiring learning, no matter their school, interests, learning style, nor
				income, can get the world-class academic support they need to succeed. As we grow, we plan to continue expanding
				in more schools and in subjects, while keeping our services free and accessible.
			</p>
		</section>
		<section class="main-content-right">
			<div class="image"></div>
			<p class="image-title">Certificate of Change of Name with Business Number - Filed December 2025</p>
		</section>
	</section>
	<section class="gallery-section">
		<h1>Gallery <em>and</em> Testimonials</h1>
		<p>Explore Pacific Education Network's <em>reviews</em> and <em>gallery</em> from our exciting events!</p>
		<div class="gallery">
			<div class="gallery-entry">
				<div class="gallery-image">
					<Image src={testimony1} alt="TODO" />
				</div>
				<p>
					“My son really likes Mike. He’s <em>knowledge and very patient</em>, and his pronunciation sounds really
					nice.”
				</p>
			</div>
			<div class="gallery-entry">
				<div class="gallery-image">
					<Image src={testimony2} alt="TODO" />
				</div>
				<p>
					“I think the teacher is <em>very responsible and has a lot of teaching experience</em>! My child usually
					doesn’t respond much to questions, but this time he responded actively and even asked questions. <em
						>Very</em
					> good!”
				</p>
			</div>
			<div class="gallery-entry">
				<div class="gallery-image">
					<Image src={testimony3} alt="TODO" />
				</div>
			</div>
			<div class="gallery-entry">
				<div class="spacer" />
				<p>“The teacher explains so well – better than our English teacher <em>by 10 fold</em>.”</p>
				<div class="gallery-image">
					<Image src={testimony4} alt="TODO" />
				</div>
			</div>
		</div>
	</section>
	<section class="bottom">
		<span class="big">“This guy’s <em>goated”</em></span> sums up our tutoring services quite well.
	</section>
</Layout>

<style>
	.spacer {
		flex-grow: 1;
	}
	.bottom {
		text-align: center;
	}
	.big {
		font-size: 5em;
	}
	.gallery-section {
		text-align: center;
		p {
			margin: 0;
		}
		h1 {
			margin: 0;
			font-size: 3em;
		}
	}
	.gallery {
		display: grid;
		padding: 0 2em;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
		margin-top: 1em;
	}
	.gallery-entry {
		display: flex;
		flex-direction: column;
		text-align: left;
		gap: 0.5em;
	}
	.gallery-image {
		width: 100%;
		img {
			width: 100%;
			height: auto;
		}
	}
	h1 {
		margin: 0.5em 0;
	}
	.main-content {
		display: flex;
		gap: 1em;
	}
	.main-content-right {
		display: flex;
		flex-direction: column;
		align-items: center;
		.image {
			width: 30em;
			height: 40em;
			background-color: #ffffff;
		}
	}
	.title {
		font-size: 4rem;
		margin-top: 0.5em;
		font-family: var(--font-montserrat);
		text-align: center;
	}
</style>
