---
import Word from "../components/Word.astro";
import Layout from "../layouts/Layout.astro";
import LinkButton from "../components/LinkButton.astro";
import { Image } from "astro:assets";

const icons = import.meta.glob<{default: ImageMetadata}>('../assets/icons/resources/*.svg', { eager: true });
const imageFor = (name: string) => icons[`../assets/icons/resources/${name}-light.svg`].default;
---

<Layout title = "PEN | Apply">
	<div class="title">
		<h1><Word><em>Want to have a part?</em></Word></h1>
	</div>
	<p class="subtitle">
		Whether you are an experienced tutor or a student who would benefit from extra support, we have resources here for you
		to unlock your full abilities!
	</p>
	<section>
		<div class="text-content">
			<h2>Feel the need of a guide?</h2>
			<p>
				You don’t have to learn alone! Connect with caring, qualified, and passionate tutors who are ready to support
				you at your pace and help you reach your goals.
			</p>
			<LinkButton href="https://forms.gle/yePxF1p6JSNqcd8R8">Find a Tutor!</LinkButton>
		</div>
		<div>
			<Image class="image" src={imageFor("student")} alt=""/>
		</div>
	</section>
	<section>
		<div>
			<Image class="image" src={imageFor("books")} alt=""/>
		</div>
		<div class="text-content">
			<h2>Ready to demonstrate your abilities?</h2>
			<p>
				Share your knowledge. Shape a future. Make a difference. Join the Pacific Network Education as a tutor and help
				students learn, grow, and succeed, one session at a time. Flexible times and low workload!
			</p>
			<LinkButton href="https://forms.gle/mitpnMZ8ZhozAMVT6"> Sign Up to Teach</LinkButton>
		</div>
	</section>
</Layout>

<style>
	.title {
		font-size: var(--step-3);
		margin-top: var(--space-s);
		font-family: var(--font-montserrat);
		text-align: center;
		h1 {
			margin: 0;
		}
	}
	h2 {
		font-family: var(--font-montserrat);
		margin: 0 0 0.25em;
	}
	.subtitle {
		text-align: left;
		max-width: 40em;
		margin: 0 auto;
		font-size: var(--step-0);
	}
	section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--space-xl);
		margin: var(--space-2xl) auto;
		max-width: 70rem;
		padding: 0 var(--space-m);
	}
	.text-content {
		flex: 1;
	}
	.image {
		width: 18em;
		height: 18em;
		background: white;
		flex-shrink: 0;
		border-radius: var(--space-2xs);
	}

	@media (max-width: 768px) {
		section {
			flex-direction: column;
			margin: var(--space-xl) auto;
		}
		section:nth-child(even) {
			flex-direction: column;
		}
		.image {
			width: 100%;
			height: 12em;
		}
	}
</style>
