---
import Word from "../components/Word.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="PEN | Home">
	<div class="hero">
		<div class="smaller"><Word delay={1}>CONQUER</Word> <Word delay={2}><em>education.</em></Word></div>
		<Word delay={4}>TOGETHER.</Word>
	</div>
	<br />
	<p class="tagline">
		<Word delay={1} type="fade"
			>Empowering Students Worldwide From Vancouver, BC.<br />
			Real Impact and real results from our student community.</Word
		>
	</p>
	<section class="explore">
		<div class="explore-cards">
			<a target="_blank" href="/apply" class="explore-card"><div>Tutoring</div></a>
			<a target="_blank" href="/resources" class="explore-card"><div>Study<br/>Guides</div></a>
			<a target="_blank" href="/apply" class="explore-card"><div>Sign Up</div></a>
			<a target="_blank" href="https://linktr.ee/pacific.education_network" class="explore-card"><div>Socials</div></a>
			<div class="explore-overlay">
				<p class="explore-overlay-top">Explore</p>
				<p class="explore-overlay-bottom"><em>our network.</em></p>
			</div>
		</div>
	</section>
	<section class="impact">
		<h1>Our <em>impact</em>, by numbers</h1>
		<p>Check out our progress in empowering students!</p>
		<div class="impact-cards">
			<div class="impact-card">
				<div class="card-value"><em>9</em></div>
				<div class="card-label">Study Materials</div>
			</div>
			<div class="impact-card">
				<div class="card-value"><em>50</em></div>
				<div class="card-label">Weekly Tutoring Sessions</div>
			</div>
			<div class="impact-card">
				<div class="card-value"><em>200</em></div>
				<div class="card-label">Students using our Resources</div>
			</div>
			<div class="impact-card">
				<div class="card-value"><em>400</em></div>
				<div class="card-label">Hours Committed</div>
			</div>
		</div>
		<div class="impact-box">Serving students in 10 schools around the globe.</div>
	</section>
	<section class="steps">
		<h1>How Pacific Education Network Tutoring Works</h1>
		<p><em>Simple steps to access support from fellow students.</em></p>
		<div class="steps-cards">
			<div class="steps-card">
				<div class="card-image"></div>
				<div class="card-title">Submit Inquiry</div>
				<div class="card-desc">Tell us what subjects you need help with and you specific challenges</div>
			</div>
			<div class="steps-card">
				<div class="card-image"></div>
				<div class="card-title">Match With Your Tutor</div>
				<div class="card-desc">We connect you with high scoring students who excel in your subjects.</div>
			</div>
			<div class="steps-card">
				<div class="card-image"></div>
				<div class="card-title">Track Progress</div>
				<div class="card-desc">Access study plans and monitor your improvement over time.</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	.hero {
		font-size: calc(var(--step-5) * 2);
		margin-top: var(--space-3xs);
		align-self: center;
		line-height: 0.95;
		padding-left: clamp(0em, 50vw - 27rem, 50vw);
		.smaller {
			font-size: var(--step-5);
		}
	}
	.tagline {
		font-size: var(--step-1);
		line-height: 1.25;
		padding-left: clamp(0em, 50vw - 27rem, 50vw);
	}
	.explore {
		display: flex;
		margin-top: var(--space-3xl);
		align-items: center;
		justify-content: center;
	}
	.explore-cards {
		position: relative;
		display: flex;
		gap: var(--space-l);
		padding-right: var(--space-l);
		width: fit-content;
		.explore-card {
			width: calc(var(--step-5) * 4);
			height: calc(var(--step-5) * 6);
			background-image: linear-gradient(#001f65, #6895fd);
			border-radius: var(--space-2xs);
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: var(--step-3);
			text-align: center;
			margin-top: calc(var(--n) * 6rem);
			transition: transform 0.3s;
			&:nth-child(1) {
				--n: 0;
			}
			&:nth-child(2) {
				--n: 1;
			}
			&:nth-child(3) {
				--n: 2;
			}
			&:nth-child(4) {
				--n: 3;
			}
			&:hover {
				transform: translateY(calc(var(--space-xs) * -1));
			}
		}
		.explore-overlay {
			position: absolute;
			font-family: var(--font-montserrat);
			font-weight: 700;
			top: 0;
			right: 0;
			.explore-overlay-top {
				position: absolute;
				font-size: var(--step-5);
				top: var(--space-m);
				right: var(--space-s);
			}
			.explore-overlay-bottom {
				position: absolute;
				font-size: var(--step-4);
				top: var(--space-3xl);
				right: 0;
				width: max-content;
			}
		}
	}
	.impact {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: var(--space-3xl);
		h1 {
			font-family: var(--font-glacial-indifference);
			font-size: var(--step-5);
			font-weight: normal;
			margin: 0;
		}
		p {
			font-size: var(--step-0);
		}
		.impact-cards {
			display: flex;
			margin-top: var(--space-l);
			gap: var(--space-l);
			.impact-card {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: var(--space-3xs);
				line-height: 1.1;
				.card-value {
					font-size: var(--step-5);
					font-weight: bold;
				}
				.card-label {
					font-size: var(--step-1);
				}
			}
		}
		.impact-box {
			margin-top: var(--space-xs);
			font-size: var(--step-1);
			padding: var(--space-3xs) var(--space-xl);
		}
	}
	.steps {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: var(--space-3xl);
		h1 {
			font-family: var(--font-montserrat);
			font-size: var(--step-3);
			margin: 0;
		}
		p {
			font-size: var(--step-1);
		}
		.steps-cards {
			display: flex;
			margin-top: var(--space-xl);
			margin-bottom: var(--space-2xl);
			gap: var(--space-m);
			.steps-card {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: var(--space-3xs);
				width: calc(var(--space-3xl) * 3);
				height: calc(var(--space-3xl) * 2.8);
				.card-image {
					height: var(--space-3xl);
					width: var(--space-3xl);
					margin-bottom: var(--space-xs);
				}
				.card-title {
					font-size: var(--step-1);
					font-weight: bold;
				}
				.card-desc {
					font-size: var(--space-0);
					text-align: center;
					margin: 0 var(--space-s);
				}
			}
		}
	}

	a {
		all: unset;
	}
</style>
