<footer>
	<article>
		<section class="pen">
			<div class="gray"><div class="image"></div> <span>Pacific Education Network</span></div>
			<div>We help by providing better access to education.</div>
		</section>
		<section class="contact">
			<div>
				Contact: <span data-obfuscation="0">yangyicheng009@gmail.com</span> • Vancouver, BC
			</div>
			<div>Follow: Instagram • TikTok • YouTube</div>
		</section>
	</article>
	<section class="bottom">
		<div>© 2025 Pacific Education Network (Society). All rights reserved.</div>
		<div>Privacy Policy</div>
	</section>
</footer>

<style>
    .contact {
        text-align: right;
        font-size: 1.2em;
    }
	.pen {
		font-style: italic;
		display: flex;
		flex-direction: column;
		gap: 0.3em;
        .image {
			width: 2em;
			height: 2em;
			background-color: red;
			border-radius: 50%;
		}
		.gray {
			color: #969696;
			display: flex;
			align-items: center;
			gap: 0.3em;
		}
	}
	footer {
		background-color: #000000;
		border-top: 2px solid #545454;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1em;
	}
	article {
		display: flex;
		width: 100%;
		justify-content: space-between;
		max-width: 60em;
		padding-bottom: 2em;
	}
	.bottom {
		width: 100%;
		display: flex;
		justify-content: space-between;
		max-width: 60em;
		border-top: 2px solid #545454;
		padding-top: 1em;
	}
</style>
