---
import Launch from "../assets/icons/launch.svg";

interface Props {
	href: string;
}

const href = Astro.props.href;
---

<a href={href}>
	<slot /><Launch />
</a>

<style>
	a {
		font-family: var(--font-montserrat);
		background-color: #ffffff;
		color: #000000;
		padding: var(--space-m) calc(var(--space-s) * 0.9);
		display: flex;
		align-items: center;
		border-radius: var(--step--2);
		width: fit-content;
		text-decoration: none;
		gap: var(--space-2xs);
		font-weight: bold;
		margin: var(--space-s) 0;
	}
</style>
